doctype html
html
  head
    title <%= _.capitalize(config.appName) %>
    base(href="/")
    //---inject:bower:css---
    //---inject---
    //---inject:css---
    //---inject---
  body<% if (config.css === 'MetroUI') { %>.metro<% } %>(ng-app="<%= config.appName %>App")
    <% if (config.scaffolds.indexOf('navbar') >= 0) { %>
    div(ng-include='\'modules/navbar\'')
    <% } %>div(ng-view)
    //---inject:lib---
    //---inject---
    //---inject:bower:js---
    //---inject---
    //---inject:js---
    //---inject---