<% if (config.css.indexOf('metroui') >= 0) { %>
nav.navigation-bar.light(ng-controller='NavbarCtrl')
  nav.navigation-bar-content
    item.element.brand <%= _.capitalize(config.appName) %>
    item.element-divider
    a.element(ng-repeat="module in modules", ng-href="{{module.path}}", ng-class="{active:isActive(module.path)}") {{module.name}}
<% } else { %>
nav.navbar.navbar-default(role="navigation" ng-controller='NavbarCtrl')
  .container-fluid
    .navbar-header
      a.navbar-brand(href="/") <%= _.capitalize(config.appName) %>
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(ng-repeat="module in modules" ng-class="{active:isActive(module.path)}")
          a(ng-href="{{module.path}}") {{module.name}}
<% } %>