@import 'nib'
<% if (config.css === 'MetroUI') { %>.navigation-bar-content
  .element
    &.active
      border-bottom 3px solid rgba(80,80,80,0.8)<% } else if (config.css === 'AngularMaterial') { %>
.md-toolbar-tools
  .appTitle
    padding-right 20px
  a
    &.button
      padding 20px
      transition background 0.5s
      &.active
        background #0277bd
    &.button:hover
      background #0277bd
      transition background 0.5s <% } %>