@import 'nib'
<% if (config.css === 'MetroUI' && config.scaffolds.indexOf('navbar') >= 0) { %>.app-bar
  ul.app-bar-menu
    li
      a
        &:hover
          background-color rgba(0,0,0,0)
      &.active
        border-bottom 3px solid #00CCFF<% } else if (config.css === 'AngularMaterial' && config.scaffolds.indexOf('navbar') >= 0) { %>
.md-toolbar-tools
  .appTitle
    padding-right 20px
  a
    &.button
      padding 20px
      transition background 0.5s
      &.active
        background #0277bd
    &.button:hover
      background #0277bd
      transition background 0.5s <% } %>
